<div class="container">
  <div class="center">
    <div class="row">
      <div class="col-12 col-sm-3 offset-sm-6 text-left text-sm-right">
        <label for="filtered-keyword">Filter: </label>
      </div>
      <div class="col-12 col-sm-3">
        <input id="filtered-keyword" type="text" class="form-control"
               placeholder="Enter key word ..."
               (keydown)="filteredWord()"
               [(ngModel)]="filteredKeyword"/>
      </div>
    </div>
    <div class="row">
      <div class="table-responsive">
        <table class="table">
          <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Category</th>
          </tr>
          </thead>
          <tbody *ngIf="filteredList.length != 0">
          <tr *ngFor="let item of filteredList;let i = index">
            <th scope="row">{{i + 1}}</th>
            <td>{{item}}</td>
          </tr>
          </tbody>
          <tbody *ngIf="filteredList.length == 0">
          <tr>
            <th colspan="2" class="text-center">Category is not found.</th>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
