<div class="container">
  <div class="side-panel">
    <input type="number" [(ngModel)]="userInputNumber"
           (change)="userInputNumber = convertToPositiveInteger(userInputNumber); setCalculateResult()" />
  </div>
  <div class="content">
    <select [(ngModel)]="calculateType" (change)="setCalculateResult()">
      <option [value]="IS_PRIME" selected>isPrime</option>
      <option [value]="IS_FIBONACCI">isFibonacci</option>
    </select>
  </div>
  <div class="side-panel">
    {{calculateResult}}
  </div>
</div>
